[Unit]
Description=Cardwire Daemon
After=dbus.service


[Service]
Type=dbus
BusName=com.github.luytan.cardwire
ExecStart=/usr/bin/cardwired
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
